<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.aishang.mapper.UserMapper">
    <!--<resultMap id="userResultMap" type="com.aishang.po.User">
        <id column="uid" property="uid"/>
        <result column="username" property="userName"/>
        <result column="password" property="passWord"/>
        <result column="date" property="date"/>
        <result column="name" property="name"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <association property="user" javaType="com.aishang.domain.User">
    </resultMap>-->
    <select id="doLogin" resultType="User">
        SELECT uid,username as userName,password as passWord,date,name,tel,email,icon_path as iconPath,sex,age
        FROM user
        where username=#{0}
        and password=#{1}
    </select>
    <select id="findUserName" resultType="User">
        SELECT uid,username as userName,password as passWord,date,name,tel,email
        FROM user
        where username=#{userName}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user
        values (default,#{userName},#{passWord},#{date},default ,#{tel},default,default,default,default )
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        set username=#{userName},password=#{passWord},name=#{name},
            tel=#{tel},email=#{email},icon_path=#{iconPath},age=#{age},sex=#{sex}
        where uid=#{uid}
    </update>

</mapper>
